*{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            font-family: 'Poppins', sans-serif;
            background-color: #4A721A;
            color: #fff;
            text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
        }
        .form-card-container{
            display: flex;
        }
        h1{
            text-align: center;
            margin-bottom: 1rem;
        }
        .produce-form{
            margin: 2rem auto;
            width: 30rem;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
         input{
           padding: 0.6rem 0.2rem;
        }
        .form-button{
            padding: 0.5rem 0.2rem;
        }
        @media(max-width:768px){
         .produce-form{
            width: 20rem;
         }
        }
        